<a href="https://colab.research.google.com/github/poojasaxena/pandas_data_wrangling/blob/master/Join_combine_reshape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hierarchical Indexing
* it enable you to have multiple index levels on an axis.
* Somewhat abstractly, it provides a way for you to work with higher dimensionanal data in a lower dimensionalform.
* useful link: https://github.com/BindiChen/machine-learning/blob/main/data-analysis/067-pandas-stack/pandas-stack-unstack.ipynb

In [1]:
import pandas as pd
import numpy as np

## Series dataset

In [ ]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a','b','b','c','c','d','d'],
                       [1,2,3,1,3,1,2,2,3]])
data

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

In [ ]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

## partial Indexing

In [ ]:
data['b']

1   -0.602268
3   -0.160011
dtype: float64

In [ ]:
data[['a','b']]

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
dtype: float64

In [ ]:
data.loc[['b','d']]

b  1   -0.602268
   3   -0.160011
d  2   -0.563902
   3    0.419764
dtype: float64

In [ ]:
data.iloc[[1,2]]

a  2   -1.050339
   3    0.736219
dtype: float64

### Selection from an inner level

In [ ]:
## Selection
data.loc[:,2]

a   -1.050339
c    0.134694
d   -0.563902
dtype: float64

In [ ]:
## did not work, complain of 'Too many indexers'
data.iloc[:, 2]

IndexingError: ignored

### reshaping data into dataframe

In [ ]:
data

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

In [ ]:
data.unstack()

          1         2         3
a -0.023317 -1.050339  0.736219
b -0.602268       NaN -0.160011
c  1.833433  0.134694       NaN
d       NaN -0.563902  0.419764

In [ ]:
data.unstack().stack()

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

## Hierachical indexing in *dataframe*

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colorado'], 
                              ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [ ]:
frame.index.names = ['key1','key2']
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
frame.columns.names = ['state','color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
  frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### Reordening/Sorting Levels

In [ ]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [ ]:
## sorts the data using only the values in a single level.
## When swaping levels, its not uncommon to also use `sort_index` so that the result is lexicographically sorted
frame.sort_index(level=1) # level refer to row levels, here its only 2 ['key1','key2']

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [ ]:
## Swapping of index's and sorting of the numerical index
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### Summary statistics by Level
* we can aggregate on level by a particular axis 
* We can aggregate by level on either the rows or columns

In [ ]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [ ]:
frame.sum(level='key1') #key2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key1
a         3   5        7
b        15  17       19

In [ ]:
frame.sum(level='key2', axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [ ]:
frame.sum(level='color', axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### Indexing with a Daraftame's Column

In [ ]:
frame=pd.DataFrame({'a':range(7), 'b':range(7,0, -1),
                    'c':['one','one','one','two','two','two','two'],
                    'd':[0,1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [ ]:
frame2 =  frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [ ]:
frame3=frame2.swaplevel('c','d')
frame3

       a  b
d c
0 one  0  7
1 one  1  6
2 one  2  5
0 two  3  4
1 two  4  3
2 two  5  2
3 two  6  1

In [ ]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# Combine
Data contained in pandas objects can be combined together in a number of ways:
* **pandas.merge**: connects rows in DataFrames based on one or more keys.
* **pandas.conca**t: concatenates or 'stacks' together objects along an axis
* **combine_first**: instance method enables splicing together oberlapping data to fill in missing values in one object with values from another

#### merge
* '**inner**' : Use only the key combinations observed in both tables (intersction)
* '**left**': Use all key combinations found in the left table
* '**right**': Use all key combinations found in the right table
* '**outer**': Use all key combinations observed in both tables together (Union)

In [ ]:
df1= pd.DataFrame({'key':['b','b','a','c','a','a','b'],
                   'data1':range(7)})
df2 = pd.DataFrame({'key':['a','b','d'],
                    'data2':range(3)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [ ]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [ ]:
## by default, 'inner' join is performed, hence key:['c','d'] from df2 is missing
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [ ]:
pd.merge(df1, df2, on='key', how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

### Indexing with Dataframe's column (different names)

In [ ]:
df3 = pd.DataFrame({'lkey':['b','b', 'a','c','a','a','b'],
                   'data1':range(7)})
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [ ]:
df4= pd.DataFrame({'rkey':['a','b','d'],
                   'data2':range(3)})
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

### Many to many merge

In [6]:
[range(8)]

[range(0, 8)]

In [7]:
left = pd.DataFrame({'account_no': [140,168,200],
                     'company': ['porsche','tafel','honda'],
                     'material': ["tape 20.30","hidh adhesive 30","low emmission tapg"]})
right = pd.DataFrame({'sale': [140,140, 168,168, 200,200, 200, 800],
                     'company': ['porshe','porshe','tafel','tafel','honda', 'honda','honda','ibm'],
                     'price': range(100, 900, 100)})

left

   account_no  company            material
0         140  porsche          tape 20.30
1         168    tafel    hidh adhesive 30
2         200    honda  low emmission tapg

In [8]:
right

   sale company  price
0   140  porshe    100
1   140  porshe    200
2   168   tafel    300
3   168   tafel    400
4   200   honda    500
5   200   honda    600
6   200   honda    700
7   800     ibm    800

In [9]:
pd.merge(left, right, left_on='account_no', right_on='sale', how='outer', indicator=True)

   account_no company_x            material  sale company_y  price      _merge
0       140.0   porsche          tape 20.30   140    porshe    100        both
1       140.0   porsche          tape 20.30   140    porshe    200        both
2       168.0     tafel    hidh adhesive 30   168     tafel    300        both
3       168.0     tafel    hidh adhesive 30   168     tafel    400        both
4       200.0     honda  low emmission tapg   200     honda    500        both
5       200.0     honda  low emmission tapg   200     honda    600        both
6       200.0     honda  low emmission tapg   200     honda    700        both
7         NaN       NaN                 NaN   800       ibm    800  right_only

### Overlapping Column names

In [ ]:
pd.merge(left, right, on='company', suffixes=('crm','sale'), indicator=True)

   account_no company            material  sale  price _merge
0         168   tafel    hidh adhesive 30   168    300   both
1         168   tafel    hidh adhesive 30   168    400   both
2         200   honda  low emmission tapg   200    500   both
3         200   honda  low emmission tapg   200    600   both
4         200   honda  low emmission tapg   200    700   both

In [ ]:
left

   account_no  company            material
0         140  porsche          tape 20.30
1         168    tafel    hidh adhesive 30
2         200    honda  low emmission tapg

In [ ]:
right

   sale company  price
0   140  porshe    100
1   140  porshe    200
2   168   tafel    300
3   168   tafel    400
4   200   honda    500
5   200   honda    600
6   200   honda    700
7   800     ibm    800


### Merging on Index

In [ ]:
left = pd.DataFrame({'key':['a','b','a','a','b','c'],
                     'value': range(6)})
right = pd.DataFrame({"group_val":[3.5,7]},
                     index=['a','b'])
left

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [ ]:
right

   group_val
a        3.5
b        7.0

In [ ]:
pd.merge(left, right, left_on='key', right_index=True, indicator=True, how='outer')

  key  value  group_val     _merge
0   a      0        3.5       both
2   a      2        3.5       both
3   a      3        3.5       both
1   b      1        7.0       both
4   b      4        7.0       both
5   c      5        NaN  left_only

### merging on Index | Hierarchically indexed data

In [ ]:
left = pd.DataFrame({'key1':['Ohio','Ohio','Ohio','Nevada','Nevada'],
                     'key2':[2000, 2001, 2002, 2001, 2002],
                     'data': np.arange(5)})
right = pd.DataFrame(np.arange(12).reshape((6,2)),
                     index=[['Nevada','Nevada','Ohio','Ohio','Ohio','Ohio'],
                            [2001, 2000, 2000, 2000, 2001, 2002]],
                     columns= ['event1','event2']
                     )
left

     key1  key2  data
0    Ohio  2000     0
1    Ohio  2001     1
2    Ohio  2002     2
3  Nevada  2001     3
4  Nevada  2002     4

In [ ]:
right

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [ ]:
pd.merge(left, right, left_on=['key1','key2'], right_index=True, indicator=True, how='outer')

     key1  key2  data  event1  event2      _merge
0    Ohio  2000   0.0     4.0     5.0        both
0    Ohio  2000   0.0     6.0     7.0        both
1    Ohio  2001   1.0     8.0     9.0        both
2    Ohio  2002   2.0    10.0    11.0        both
3  Nevada  2001   3.0     0.0     1.0        both
4  Nevada  2002   4.0     NaN     NaN   left_only
4  Nevada  2000   NaN     2.0     3.0  right_only

### merging on both index

In [ ]:
left = pd.DataFrame([[1., 2.], [3.,4.], [5., 6.]],
                    index = ['a','c','e'],
                    columns = ['ohio','Nevada'])

right = pd.DataFrame([[7., 8.], [9., 10.], [11, 12.], [13, 14]],
                     index = ['b','c','d','e'],
                     columns = ['Missouri','Alabama'])

In [ ]:
left

   ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0

In [ ]:
right

   Missouri  Alabama
b       7.0      8.0
c       9.0     10.0
d      11.0     12.0
e      13.0     14.0

In [ ]:
pd.merge(left, right, left_index=True, right_index =True, how='outer',indicator=True )

   ohio  Nevada  Missouri  Alabama      _merge
a   1.0     2.0       NaN      NaN   left_only
b   NaN     NaN       7.0      8.0  right_only
c   3.0     4.0       9.0     10.0        both
d   NaN     NaN      11.0     12.0  right_only
e   5.0     6.0      13.0     14.0        both

#### Alternative: join
- Dataframe has a convenient join instance for merging by index
- It can be used to combine together many DataFrame objects having the same or similar indexes but non-overlapping columns.

In [ ]:
left.join(right, how='outer')

   ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0


## Concatenation

In [ ]:
s1 = pd.Series([0,1], index=['a','b'])
s2 = pd.Series([2,3,4], index=['c','d','e'])
s3 = pd.Series([5,6], index = ['f','g'])

In [ ]:
## in the axis:1 case, since there is no columns name and there is single column on all series, it concetenate 
## them. Hence in the end there are three columns.
pd.concat([s1, s2, s3], axis=1) #axis 0/1 : row/column

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [ ]:
pd.concat([s1, s2, s3], axis=0)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [ ]:
s1

a    0
b    1
dtype: int64

### on DataFrame

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3,2), index=['a','b','c'],
                   columns = ['one','two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2,2), index=['a','c'],
                   columns= ['three','four'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [ ]:
df2

   three  four
a      5     6
c      7     8

In [ ]:
pd.concat([df1, df2], axis=0) ## row wise, the rows of another dataframe is added on bottom

   one  two  three  four
a  0.0  1.0    NaN   NaN
b  2.0  3.0    NaN   NaN
c  4.0  5.0    NaN   NaN
a  NaN  NaN    5.0   6.0
c  NaN  NaN    7.0   8.0

In [ ]:
pd.concat([df1, df2], axis=1) # column wise, make much more sense here.

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1','level2'], names=['upper','lower'])

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [ ]:
## could get the same result by 'merge'
pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

### Concat with ignore index

In [ ]:
df1 = pd.DataFrame(np.random.rand(3,4), columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(2,3), columns=['b','d','a'])
df1

          a         b         c         d
0  0.899906  0.209063  0.089315  0.798829
1  0.508177  0.191519  0.942933  0.717602
2  0.061100  0.465954  0.115578  0.976602

In [ ]:
df2

          b         d         a
0  0.851017  0.164684  0.687494
1  0.201194  0.990483  0.765228

In [ ]:
pd.concat([df1, df2], ignore_index=False)

          a         b         c         d
0  0.899906  0.209063  0.089315  0.798829
1  0.508177  0.191519  0.942933  0.717602
2  0.061100  0.465954  0.115578  0.976602
0  0.687494  0.851017       NaN  0.164684
1  0.765228  0.201194       NaN  0.990483

In [ ]:
pd.concat([df1, df2], ignore_index=True)

          a         b         c         d
0  0.899906  0.209063  0.089315  0.798829
1  0.508177  0.191519  0.942933  0.717602
2  0.061100  0.465954  0.115578  0.976602
3  0.687494  0.851017       NaN  0.164684
4  0.765228  0.201194       NaN  0.990483

## Combining Data with Overlap

In [18]:
a = pd.Series([np.nan, 2.5, 0.0, 3.5, 4.5, np.nan],
              index=['f','e','d','c','b','a'])

b = pd.Series([0., np.nan, 2., np.nan, np.nan, np.nan],
              index=['a','b','c','d','e','f'])
a

f    NaN
e    2.5
d    0.0
c    3.5
b    4.5
a    NaN
dtype: float64

In [19]:
b

a    0.0
b    NaN
c    2.0
d    NaN
e    NaN
f    NaN
dtype: float64

#### Approach-I

In [20]:
np.where(pd.isnull(a), b, a)

array([0. , 2.5, 0. , 3.5, 4.5, nan])

#### Approach-II

In [21]:
b.combine_first(a)

a    0.0
b    4.5
c    2.0
d    0.0
e    2.5
f    NaN
dtype: float64

## Dataframe

In [27]:
df1 = pd.DataFrame({'a':[1.0, np.nan, 5.0, np.nan],
                    'b':[np.nan,2.0, np.nan, 6.0],
                    'c':range(2, 18, 4)})
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [28]:
df2 = pd.DataFrame({'a':[5.0, 4.0, np.nan, 5.0, 7.0],
                    'b':[np.nan,3.0, 4.0, 6.0, 8.0]})
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  5.0  6.0
4  7.0  8.0

In [29]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  5.0  6.0  14.0
4  7.0  8.0   NaN

In [35]:
df1['a']=df1['a'].combine_first(df1['b'])

In [36]:
df1

     a    b   c    d
0  1.0  NaN   2  1.0
1  2.0  2.0   6  2.0
2  5.0  NaN  10  5.0
3  6.0  6.0  14  6.0

## Reshaping/Pivoting
* There are number of basic operations for rearranging tabular data, alternately refered to as reshape or pivot operations.
* There are two primarily actions:
  1. stack
    - This 'rotate'or pivots from the column in the data to the rows.
  2. unstack
     - this pivots from the rows into the columns

In [37]:
data = pd.DataFrame(np.arange(6).reshape((2,3)),
                    index = pd.Index(['Ohio','Colorado'], name='state'),
                    columns = pd.Index(['one','two','three'],
                    name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [40]:
result=data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [41]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [42]:
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [44]:
result.unstack('number')

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5